//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 06 12:54:04 2015
//! **************************************************************************

SCHEMATIC START;
COMP "trigger_out" LOCATE = SITE "K2" LEVEL 1;
COMP "echo_in" LOCATE = SITE "K6" LEVEL 1;
PIN echo_in_pin<0> = BEL "echo_in" PINNAME PAD;
PIN "echo_in_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "anodo<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk_in" LOCATE = SITE "V10" LEVEL 1;
COMP "ssegm<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "ssegm<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "ssegm<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "ssegm<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "ssegm<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "ssegm<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "ssegm<6>" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

