#PACE: Start 

NET "clk_in" LOC =V10;

NET "ssegm[0]" LOC = L14;
NET "ssegm[1]" LOC = N14;
NET "ssegm[2]" LOC = M14;
NET "ssegm[3]" LOC = U18;
NET "ssegm[4]" LOC = U17;
NET "ssegm[5]" LOC = T18;
NET "ssegm[6]" LOC = T17;
NET "anodo<0>" LOC = N16;
NET "anodo<1>" LOC = N15;
NET "anodo<2>" LOC = P18;
NET "anodo<3>" LOC = P17;

NET "echo_in" LOC =K6;
NET "echo_in" CLOCK_DEDICATED_ROUTE = FALSE;
NET "trigger_out" LOC =K2;

#NET "lds[0]" LOC =U16;
#NET "lds[1]" LOC =V16;
#
#NET "sw[0]" LOC =T10;
#NET "sw[1]" LOC =T9;
#NET "sw[2]" LOC =V9;
#NET "sw[3]" LOC =M8;
#NET "sw[4]" LOC =N8;
#NET "sw[5]" LOC =U8;
#NET "sw[6]" LOC =V8;
#NET "sw[7]" LOC =T5;
#
