
# ==== Cloclk inputs (CLK) ====

NET "clk"   LOC = "V10"	| IOSTANDARD = "LVCMOS33";
NET "clk" TNM_NET = sys_clk;
TIMESPEC TS_sys_clk = PERIOD sys_clk_pin 50 MHz HIGH 50%;

#TIMESPEC TS_sys_clk = PERIOD sys_clk_pin 100 MHz HIGH 50%;  

NET "rst"	LOC = "B8"	| IOSTANDARD = "LVCMOS33";			

		
# === GPIO === puertos

NET "gpio_io<0>"          LOC = "L4" | IOSTANDARD = "LVCMOS33";   #PWM JB8 real =J1
NET "gpio_io<1>"          LOC = "L3" | IOSTANDARD = "LVCMOS33";   #LEDS MODO JB4
NET "gpio_io<2>"          LOC = "J1" | IOSTANDARD = "LVCMOS33";   #LED BLANCO JB3 real =L4

NET "gpio_io<3>"          LOC = "J7" | IOSTANDARD = "LVCMOS33";   #PAUSA JC8
NET "gpio_io<4>"          LOC = "J6" | IOSTANDARD = "LVCMOS33";   #MODO JC9
NET "gpio_io<5>"          LOC = "L7"  | IOSTANDARD = "LVCMOS33";  #VOL UP JC2
NET "gpio_io<6>"          LOC = "K6" | IOSTANDARD = "LVCMOS33";   #VOL DN JC3
NET "gpio_io<7>"          LOC = "G1" | IOSTANDARD = "LVCMOS33";   #PITCH UP JC7
NET "gpio_io<8>"          LOC = "H3" | IOSTANDARD = "LVCMOS33";   #PITCH DN JC1


# ==== DIGPOT ==== Puertos PMOD JC

NET "digpot_INC"	   LOC = "K2"	| IOSTANDARD = "LVCMOS33"; # JB1
NET "digpot_UDn"	   LOC = "J3"	| IOSTANDARD = "LVCMOS33"; # JB7
NET "digpot_CSn"    	   LOC = "K1"	| IOSTANDARD = "LVCMOS33"; # JB2

# ==== TRIGGER ==== Puertos PMOD JB

NET "trigger_o0"	   LOC = "K3"  | IOSTANDARD = "LVCMOS33"; #NOTA JB9
NET "trigger_o1"	   LOC = "K5"  | IOSTANDARD = "LVCMOS33"; #VOLUMEN JB10
NET "echo_in0" 		   CLOCK_DEDICATED_ROUTE = FALSE;
NET "echo_in0"   	   LOC = "G3"  | IOSTANDARD = "LVCMOS33"; #NOTA JC4
NET "echo_in1" 		   CLOCK_DEDICATED_ROUTE = FALSE;
NET "echo_in1"  	   LOC = "F2"  | IOSTANDARD = "LVCMOS33"; #VOLUMEN JC10
#NET "timer1_st"   	   LOC = "G3"  | IOSTANDARD = "LVCMOS33"; #NOTA JC4


